@charset "utf-8";

/*
 ★ Coding By DumiCode
 ★ homepage: http://www.dumicode.com
*/

/* Reset */
*
{ 
	box-sizing:border-box;
} 
/* html {
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
} */

#acc{overflow:hidden;position:relative;width:100%;z-index:1000}
#acc a{display:block;overflow:hidden;height:1px;width:1px;margin:0 -1px -1px 0;font-size:0;line-height:0;text-align:center}
#acc a:focus, #acc a:hover, #acc a:active {width:auto;height:20px;margin:0;padding:8px 0 0 15px;background:#20262c;font-size:12px;font-weight:700;line-height:1;color:#fff;}

@media screen and (-ms-high-contrast : active), (-ms-high-contrast: none){
	
	
	}

body, h1, h2, h3, h4, h5, h6,
div, p, address,
ul, ol, li, dl, dt, dd,
table, th, td,
form, fieldset, legend,
hr {
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	letter-spacing:-2px;
}
ul, ol {
	list-style:none;
}
table {
	margin:0;
	padding:0;
	border-spacing:0;
	border:0;
}
img, fieldset {
	border:0;
	vertical-align:top
}
address, em {
	font-style:normal;
	font-weight:300;
}
input, select, button, textarea {
	color:#333;
	font-size:100%;
	font-weight:normal;
	font-family:"Noto Sans KR",sans-serif;
	vertical-align:middle;
	letter-spacing:-1px;
}



/* Base */
body {
	color:#333;
	font-size:14px;
	line-height:1.5;
	font-weight:400;
	font-family:"Noto Sans KR",sans-serif;
	text-align:left;
	letter-spacing:-1px;
}
hr {
	display:none;
}
a {
	color:#333;
	text-decoration:none;
}
a:focus, a:hover, a:active {

}
label,
input[type="button"], input[type="submit"] , input[type="image"],
button {
	cursor:pointer;
}
input[type="text"], input[type="tel"], input[type="number"], input[type="password"], input[type="button"], input[type="submit"] , input[type="image"], textarea {
	border-radius:0;
	appearance:none;
	-webkit-appearance:none;
}
textarea {
	overflow-y:auto;
}
fieldset {
	display:block;
}
button {}

legend,
caption {
	display:block;
	position:absolute;
	top:-1px;
	left:-1px;
	width:1px;
	height:1px;
	border:none;
	opacity:0.01;
	background:none;
	overflow:hidden;
}

/*html5*/
article, aside, dialog, footer, header, section, nav, figure, menu {
	display:block;
}

