/* @font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: local('Noto Sans Light'),
	   local('NotoSans-Light'),
	   url('font/NotoSansKR-Light.woff2') format('woff2'),
	   url('font/NotoSansKR-Light.woff') format('woff'),
	   url('font/NotoSansKR-Light.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400; 
	src: local('Noto Sans Regular'),
	   local('NotoSans-Regular'),
	   url('font/NotoSansKR-Regular.woff2') format('woff2'),
	   url('font/NotoSansKR-Regular.woff') format('woff'),
	   url('font/NotoSansKR-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: local('Noto Sans Medium'),
	   local('NotoSans-Medium'),
	   url('font/NotoSansKR-Medium.woff2') format('woff2'),
	   url('font/NotoSansKR-Medium.woff') format('woff'),
	   url('font/NotoSansKR-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: local('Noto Sans Bold'),
	   local('NotoSans-Bold'),
	   url('font/NotoSansKR-Bold.woff2') format('woff2'),
	   url('font/NotoSansKR-Bold.woff') format('woff'),
	   url('font/NotoSansKR-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: local('Noto Sans Black'),
	   local('NotoSans-Black'),
	   url('font/NotoSansKR-Black.woff2') format('woff2'),
	   url('font/NotoSansKR-Black.woff') format('woff'),
	   url('font/NotoSansKR-Black.otf') format('opentype');
} */

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: local('Noto Sans Light'),
	   local('NotoSans-Light'),
	   url('font/NotoSans-Light.woff2') format('woff2'),
	   url('font/NotoSans-Light.woff') format('woff'),
	   url('font/NotoSans-Light.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: local('Noto Sans Regular'),
	   local('NotoSans-Regular'),
	   url('font/NotoSans-Regular.woff2') format('woff2'),
	   url('font/NotoSans-Regular.woff') format('woff'),
	   url('font/NotoSans-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: local('Noto Sans Medium'),
	   local('NotoSans-Medium'),
	   url('font/NotoSans-Medium.woff2') format('woff2'),
	   url('font/NotoSans-Medium.woff') format('woff'),
	   url('font/NotoSans-Medium.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: local('Noto Sans Bold'),
	   local('NotoSans-Bold'),
	   url('font/NotoSans-Bold.woff2') format('woff2'),
	   url('font/NotoSans-Bold.woff') format('woff'),
	   url('font/NotoSans-Bold.otf') format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: local('Noto Sans Black'),
	   local('NotoSans-Black'),
	   url('font/NotoSans-Black.woff2') format('woff2'),
	   url('font/NotoSans-Black.woff') format('woff'),
	   url('font/NotoSans-Black.otf') format('opentype');
}


@font-face {
    font-family: 'EsaManru';
    src: url('/font/EsaManruBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'EsaManru';
    src: url('/font/EsaManruMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;

}