<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <span class="font-weight-bold ml-2">Eco-Website</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-gray-700" href="#" rel="ugc">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-gray-700" href="#" rel="ugc">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-gray-700" href="#" rel="ugc">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-gray-700 d-flex align-items-center" href="#" rel="ugc">
                        Others
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-gray-700 ml-1">
                            <circle cx="11" cy="11" r="8"></circle>
                            <path d="m21 21-4.3-4.3"></path>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
<!--                    <button class="btn btn-success ml-2">BE TEACHER</button>-->
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="py-5 py-md-6 py-lg-7 py-xl-8">
    <div class="container">
        <div class="text-center">
            <h1 class="display-4 font-weight-bold">The original Website Carbon calculator</h1>
            <p class="lead text-muted mx-auto" style="max-width: 700px;">Estimate your web page carbon footprint:</p>
            <div class="mx-auto" style="max-width: 400px;">
                <!-- action 속성을 통해 form을 백엔드로 전송 -->
                <form class="form-inline justify-content-center" action="/" method="POST">
                    <input type="url" class="form-control mr-2 flex-fill" placeholder="Enter your url" name="url" id="url" required>
                    <button type="submit" class="btn btn-primary">Calculation</button>
                </form>
                <p class="text-muted mt-2">
                    Sign up to get notified when we launch.
                    <a href="#" class="text-decoration-underline" rel="ugc">Terms & Conditions</a>
                </p>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
